.campaigns {
  padding-top: 56px;
}

.horiBg {
  position: absolute;
  right: 0;
  top: 0;
  width: 12%;
  height: 48%;
  background-color: #333042;
  border-left: 4px solid #7966ee;
  border-bottom: 4px solid #7966ee;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.title {
  width: 75%;
  text-align: center;
  font-family: var(--montserrat);
  color: var(--red);
}

.title h2 {
  font-size: 28px;
}

/* Campaign Body Text */
.campaignsBody {
  display: flex;
  position: relative;
  align-items: center;
  height: calc(100vh - 150px);
}

/* Campaign Description */
.campaignDescBox {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  color: #fff;
  background-color: #222222;
  font-family: var(--montserrat);
  border: 5px solid #7966ee;
  border-left: none;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  box-shadow: 5px 5px 12px #00000081;
}

.descBox {
  width: 75%;
  margin: 6% 0;
}

.descBox h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.descBox p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.btnContainer button {
  width: 150px;
  font-family: var(--poppin);
  padding: 12px 0;
  color: #fff;
  background-color: #000;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.btnContainer button:first-of-type {
  background-color: var(--red);
  margin-bottom: 16px;
}

/* QR Code Image */
.campaignImg {
  display: flex;
  align-items: center;
  width: 40%;
}

.imgContainerOne {
  width: 38%;
  margin: 0 16px 0 -30px;
}

.imgContainerTwo {
  width: 60%;
}

.img {
  width: 100%;
}

/* Media Quary */
/* For Laptop */
@media screen and (max-width: 1200px) {
  .title {
    width: 60%;
  }

  .title h2 {
    font-size: 28px;
  }

  .descBox h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .descBox p {
    font-size: 18px;
    line-height: 40px;
  }

  .btnContainer button {
    width: 120px;
    padding: 8px 0;
  }

  .btnContainer button:first-of-type {
    margin-bottom: 14px;
  }

  /* QR Code Image */
  .campaignImg {
    width: 50%;
  }
}

/* For Landscape Tablet */
@media screen and (max-width: 992px) {
  .title {
    width: 53%;
  }

  .title h2 {
    font-size: 26px;
  }

  .imgContainerOne {
    width: 38%;
    margin: 0 16px 0 -30px;
  }

  .imgContainerTwo {
    width: 60%;
  }
}

/* For Tablet */
@media screen and (max-width: 768px) {
  .campaigns {
    padding-top: 40px;
  }

  .horiBg {
    width: 80px;
    height: 160px;
    border-width: 3px;
    border-bottom-left-radius: 30px;
  }

  .campaignsBody {
    height: auto;
    margin-top: 70px;
  }

  .title {
    width: 90%;
  }

  .title h2 {
    font-size: 24px;
  }

  .campaignDescBox {
    width: 100%;
  }

  .descBox {
    width: 85%;
  }

  .descBox h2 {
    font-size: 20px;
    margin-bottom: 28px;
  }

  .descBox p {
    font-size: 16px;
    line-height: 36px;
  }

  .imgContainerOne {
    position: absolute;
    width: 18%;
    right: 13%;
  }

  .imgContainerTwo {
    position: absolute;
    width: 200px;
    bottom: -15%;
    left: 40%;
  }
}

/* For Phone */
@media screen and (max-width: 480px) {
  .title {
    width: 78%;
  }

  .title h2 {
    font-size: 19px;
  }

  .campaignsBody {
    margin-top: 50px;
  }

  .campaignDescBox {
    width: 75%;
  }

  .descBox h2 {
    line-height: 36px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .descBox p {
    font-size: 14px;
    line-height: 32px;
  }

  .campaignImg {
    display: flex;
    align-items: center;
    width: 0%;
  }

  .imgContainerOne {
    position: absolute;
    width: 95px;
    right: 0%;
  }

  .imgContainerTwo {
    width: 140px;
    bottom: -18%;
    left: 42%;
  }
}
