.Nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  top: 3.5rem;
  right: 4.5rem;
  width: fit-content;
  height: 60px;
  padding: 0 26px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 6px #00000033;
}

a.navLink {
  padding: 10px 24px;
  text-decoration: none;
  font-family: var(--poppin);
  font-size: 1rem;
  color: #434343;
}

a.active {
  color: var(--red);
}
