.homeTop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 80%;
  height: 600px;
  font-family: var(--montserrat);
  color: #fff;
  background-color: #434343;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.homeTop h2 {
  margin: 6px 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 16px;
}

/* Title Section */
.homeTitle {
  margin: 50px;
  margin-left: 5%;
  height: 55%;
}

.homeTitle h1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.homeTitle p {
  font-size: 1.2rem;
  font-weight: 700;
}

/* About Section */
.homeAbout {
  display: flex;
  align-items: flex-end;
  width: 70%;
  height: 45%;
  margin-left: 15%;
  margin-bottom: 4%;
}

.aboutDesc {
  width: 75%;
}

.aboutDesc h2 {
  margin: 6px 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.aboutDesc p {
  width: 90%;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  word-spacing: 2.2px;
}

.channelsContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.channelsContainer .box {
  padding: 14px 36px;
  background-color: var(--red);
  font-family: var(--poppin);
  font-size: 1rem;
}

.icons * {
  padding: 8px 4px 0 4px;
  cursor: pointer;
}

.icons .fb:hover {
  color: #1877f2;
}

.icons .yt:hover {
  color: #cd201f;
}

.icons .web:hover {
  color: #fffc00;
}

.icons .tg:hover {
  color: #229ed9;
}

/* Home Footer */
.homeFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}

.homeFooter .hr {
  width: 50%;
  height: 1px;
  background-color: #434343;
}

.homeFooter .imgContainer {
  width: 150px;
  height: auto;
}

.homeFooter .imgContainer .img {
  width: 100%;
  height: 100%;
}
