.gift_topBgRect {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 150px;
  background-color: #262731;
  border-bottom-left-radius: 30px;
}

.codeBgContainer {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 70%;
  width: 960px;
  min-height: 65vh;
  height: 540px;
  background-color: #262731;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 95%;
  color: #fff;
}

.codeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 46px;
  background-color: #fff;
  border-radius: 7px;
}

.gift_imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
}

.gift_imgContainer.congratulation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gift_imgContainer.congratulation h2 {
  font-family: var(--poppin);
  margin-top: 22px;
}

.gift_imgContainer img {
  width: 50%;
}

.codeBox p {
  color: #000;
  font-family: var(--poppin);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

.gift_wish {
  font-family: var(--montserrat);
  font-weight: 600;
  width: 100%;
}

.gift_wish p {
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.5px;
}

/* Gift Image */
.gift_giftImg {
  position: absolute;
  bottom: 0px;
  right: -200px;
  bottom: 10px;
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 8px #00000030;
  border-radius: 7px;
  overflow: hidden;
}

.gift_giftImg img {
  width: 100%;
  height: 100%;
}

/* Contact */
.gift_contact {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 7px 0;
  background-color: var(--red);
  color: #fff;
  border-top-right-radius: 60px;
}

.gift_contact p {
  margin: 3px;
  font-size: 20px;
  font-family: var(--poppin);
  font-weight: 600;
}

/* ================= */
/* media query */
/* For Laptop */
@media screen and (max-width: 1400px) {
  .codeBgContainer {
    width: 800px;
    height: 520px;
  }

  .gift_imgContainer {
    width: 240px;
    height: 240px;
  }

  .gift_giftImg {
    width: 360px;
    height: 360px;
    right: -180px;
  }

  .gift_contact {
    width: 700px;
    border-top-right-radius: 50px;
  }

  .gift_contact p {
    margin: 1px;
    font-size: 18px;
    font-family: var(--poppin);
    font-weight: 600;
  }
}
