@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --poppin: "Poppins", sans-serif;
  --red: #d90416;
}

* {
  padding: 0;
  margin: 0;
}
